<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <style>
        .container {
            text-align: center;
        }
        input {
            text-align: center;
            margin: 0 auto;
            border: 3px solid black;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Employee Add Page</h1>
    <hr>
    <h2>Save Employee</h2>
    <form action="#" th:action="@{/save}" th:object="${addemployee}" method="POST">
        <input type="text" required autofocus th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4">
        <input type="text" required th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4">
        <input type="text" required maxlength="3" th:field="*{age}" placeholder="Age" class="form-control mb-4 col-4">
        <input type="text" required th:field="*{designation}" placeholder="designation" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-success col-2">Save</button>
    </form>
    <hr>
    <a href="/">Back to employee list</a>
</div>
</body>
</html>
